.body{
  overflow: hidden;
}
.signup-container {
    max-width: 400px;
    margin: 150px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  .error-message {
    color: red;
    font-size: 0.875em;
  }
  .back{
    margin: 10px;
    background-color: #007bff;
  }
  